<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="header-container">
        <!-- nav-bar -->
            <nav class="container">
                <img class="logo" src="/images/logo-mercado-liebre.svg" width="200px">
                <div class="container-search">
                    <input class="barra" type="text" placeholder="Buscar productos, marcas">
                    <button class="buscador"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                <div class="texto-e-icono">
                    <i class="fa-solid fa-hand-holding-dollar"></i> 
                    <h3 class="centrar">Comprar en cuotas y sin tarjeta de credito</h3>
                </div> 
            </nav>
        </div>
      

        <div class="links">
            <div class="links-izq">
                <a href="ofertas"> Ofertas </a>
                <a href="tiendasOficiales"> Tiendas Oficiales </a>
                <a href="vender"> Vender </a>
                <a href="ayuda"> Ayuda </a>
            </div>

            <div class="links-der">
                <a href="register"> Crea tu cuenta </a> <i class="fa-regular fa-address-card"></i>
                <a href="login"> Ingresa </a> <i class="fa-solid fa-arrow-right-to-bracket"></i>
                <a href="misCompras"> Mis compras</a> <i class="fa-solid fa-basket-shopping"></i>
            </div>
        </div>
      

        <div class="burger-menu">
            <i class="fa-solid fa-bars"></i>
        </div> 
    </header>

    
    <main>
    <!-- Contenido Principal-->
    <div class="banner-container">
        <i class="img"><img src='images/img-home-banner.jpg' width="100%"></i>
    </div>
    <h4 class="titulo-main">Basado en tu última visita</h4>
    <section class="contenido-visita">
        <div class="container-product">
            <img class="imagen" src='images/img-cafetera-moulinex.jpg' width="100%">
            <div class="container-info">
                <div class="logo-envio">
                    <i class="fa-solid fa-truck"></i>
                </div>                
                <p id="precio">$6.770 </p> 
                <p id="descuento">40%OFF</p>
                <p id="descripcion-producto"><strong>Cafetera Moulinex</strong></p>
            </div>
        </div>
        <div class="container-product">
            <img class="imagen" src='images/img-macbook-pro-2019.jpg' width="100%">
            <div class="container-info">
                <div class="logo-envio">
                    <i class="fa-solid fa-truck"></i>
                </div>             
                <p id="precio">$230.000 </p>
                <p id="descuento">20%OFF</p>
                <p id="descripcion-producto"><strong>MacBook Pro 2019</strong></p>
            </div>
        </div>
        <div class="container-product">
            <img class="imagen" src='images/img-samsung-galaxy-s10.jpg' width="100%">
            <div class="container-info">
                <div class="logo-envio">
                    <i class="fa-solid fa-truck"></i>
                </div>                
                <p id="precio">$70.500 </p>
                <p id="descuento">10%OFF</p>
                <p id="descripcion-producto"><strong>Samsung Galaxy S10</strong></p>
            </div>
        </div>
        <div class="container-product">
            <img class="imagen" src='images/img-tv-samsung-smart.jpg' width="100%">
            <div class="container-info">
                <div class="logo-envio">
                    <i class="fa-solid fa-truck"></i>
                </div>                
                <p id="precio">$23.200 </p>
                <p id="descuento">5%OFF</p>
                <p id="descripcion-producto"><strong>SmartTv Samsung 43"</strong></p>
            </div>
        </div>
    </section>

    <h4 class="titulo-main">Ofertas</h4>
    <section class="contenido-ofertas">
        <div class="container-product">
            <img class="imagen" src='images/img-cafetera-moulinex.jpg' width="100%">
            <div class="container-info">
                <div class="logo-envio">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <p id="precio">$6.770 </p>
                <p id="descuento">40%OFF</p>
                <p id="descripcion-producto"><strong>Cafetera Moulinex</strong></p>
            </div>
        </div>
        <div class="container-product" >
            <img class="imagen" src='images/img-macbook-pro-2019.jpg' width="100%">
            <div class="container-info">
                <div class="logo-envio">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <p id="precio">$230.000 </p>
                <p id="descuento">20%OFF</p>
                <p id="descripcion-producto"><strong>MacBook Pro 2019</strong></p>
            </div>
        </div>
        <div class="container-product">
            <img class="imagen" src='images/img-samsung-galaxy-s10.jpg' width="100%"> 
            <div class="container-info">
                <div class="logo-envio">
                    <i class="fa-solid fa-truck"></i>
                </div>                
                <p id="precio">$70.500 </p>
                <p id="descuento">10%OFF</p>
                <p id="descripcion-producto"><strong>Samsung Galaxy S10</strong></p>
            </div>
        </div>
        <div class="container-product">
            <img class="imagen" src='images/img-tv-samsung-smart.jpg' width="100%">
            <div class="container-info">
                <div class="logo-envio">
                    <i class="fa-solid fa-truck"></i>
                </div>                
                <p id="precio">$23.200 </p>
                <p id="descuento">5%OFF</p>
                <p id="descripcion-producto"><strong>SmartTv Samsung 43"</strong></p>
            </div>
        </div>
    </section>
    
</main>

    <footer>
        <div class="footer">

            <div>
                <i class="fas fa-credit-card"></i>
                <h2 class="titulos-footer">Pagá con tarjeta o en efectivo</h2>
                <p> Con Mercado Libre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro! </p>
            </div>

            <div>
                <i class="fas fa-gift"></i>
                <h2 class="titulos-footer">Envío gratis desde $ 2.500</h2>
                <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos. </p>
            </div>
            <div>
                <i class="fas fa-user-shield"></i>
                <h2 class="titulos-footer">Seguridad, de principio a fin</h2>
                <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@. </p>
            </div>
        </div>
        <div class="copyright">
            <h2>Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
        </div>
    </footer>
</body>

</html>