<main>
    <!-- Contenido Principal-->
    <h4 class="titulo-main">Basado en tu última visita</h4>
    <section class="contenido-visita">
        <img class="imagen" src='images/img-cafetera-moulinex.jpg' width="470px">
        <div>                
            <p>$6.770 </p>
            <p id="descuento">40%OFF</p>
            <p id="descripcion-producto"><strong>Cafetera Moulinex</strong></p>
        </div>
        <img class="imagen" src='images/img-macbook-pro-2019.jpg' width="470px">
        <div>                
            <p>$230.000 </p>
            <p id="descuento">20%OFF</p>
            <p id="descripcion-producto"><strong>MacBook Pro 2019</strong></p>
        </div>
        <img class="imagen" src='images/img-samsung-galaxy-s10.jpg' width="470px">
        <div>                
            <p id="precio">$70.500 </p>
            <p id="descuento">10%OFF</p>
            <p id="descripcion-producto"><strong>Samsung Galaxy S10</strong></p>
        </div>
        <img class="imagen" src='images/img-tv-samsung-smart.jpg' width="470px">
        <div>                
            <p id="precio">$23.200 </p>
            <p id="descuento">5%OFF</p>
            <p id="descripcion-producto"><strong>SmartTv Samsung 43"</strong></p>
        </div>
    </section>

    <h4 class="titulo-main">Ofertas</h4>
    <section class="contenido-ofertas">
        <img class="imagen" src='images/img-cafetera-moulinex.jpg' width="470px">
        <div style="height: 152px;">
            <p id="precio">$6.770 </p>
            <p id="descuento">40%OFF</p>
            <p id="descripcion-producto"><strong>Cafetera Moulinex</strong></p>
        </div>
        <img class="imagen" src='images/img-macbook-pro-2019.jpg' width="470px">
        <div style="height: 152px;">
            <p id="precio">$230.000 </p>
            <p id="descuento">20%OFF</p>
            <p id="descripcion-producto"><strong>MacBook Pro 2019</strong></p>
        </div>
        <img class="imagen" src='images/img-samsung-galaxy-s10.jpg' width="470px"> 
        <div>                
            <p id="precio">$70.500 </p>
            <p id="descuento">10%OFF</p>
            <p id="descripcion-producto"><strong>Samsung Galaxy S10</strong></p>
        </div>
        <img class="imagen" src='images/img-tv-samsung-smart.jpg' width="470px">
        <div>                
            <p id="precio">$23.200 </p>
            <p id="descuento">5%OFF</p>
            <p id="descripcion-producto"><strong>SmartTv Samsung 43"</strong></p>
        </div>
    </section>
    
</main>