<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="css/login-register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="header-container">
        <!-- nav-bar -->
            <nav class="container">
                <img class="logo" src="/images/logo-mercado-liebre.svg" width="200px">
                <div class="container-search">
                    <input class="barra" type="text" placeholder="Buscar productos, marcas"><br>
                    <button class="buscador"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                <div class="texto-e-icono">
                    <i class="fa-solid fa-hand-holding-dollar"></i> 
                    <h3 class="centrar">Comprar en cuotas y sin tarjeta de credito</h3>
                </div> 
            </nav>
        </div>
      

        <div class="links">
            <div class="links-izq">
                <a href="ofertas"> Ofertas </a>
                <a href="tiendasOficiales"> Tiendas Oficiales </a>
                <a href="vender"> Vender </a>
                <a href="ayuda"> Ayuda </a>
            </div>

            <div class="links-der">
                <a href="register"> Crea tu cuenta </a> <i class="fa-regular fa-address-card"></i>
                <a href="login"> Ingresa </a> <i class="fa-solid fa-arrow-right-to-bracket"></i>
                <a href="misCompras"> Mis compras</a> <i class="fa-solid fa-basket-shopping"></i>
            </div>
        </div>
      

        <div class="burger-menu">
            <i class="fa-solid fa-bars"></i>
        </div> 
    </header>

    <main>
        <section>
            <div class="login-box">
                <form action="/" method="get" class="register-form">
                    <div class="datos">
                        <input type="text" minlength="5" maxlength="25" placeholder="Nombre y Apellido" id="name"
                            name="nombre"><br>
                    </div>
                    <div class="datos">
                        <input type="text" maxlength="15" placeholder="Nombre de Usuario" id="usuario" name="usuario"><br>
                    </div>
                    <div class="datos">
                        <input type="email" placeholder="E-mail" id="email" name="email">
                    </div>
                    <div class="datos">
                        <p class="fecha">Fecha de Nacimiento</p>
                        <input type="date" id="nacimiento" name="nacimiento"><br>
                    </div>
                    <div class="datos">
                        <input type="text" placeholder="Domicilio" id="domicilio" name="domicilio">
                    </div>
               
                    <div class="perfil">
                        <p class="fecha">Perfil del Usuario</p>
                        <input id="comprador" type="radio" name="comprador-vendedor">
                        <label for="comprador">Comprador</label>
                        <input id="vendedor" type="radio" name="comprador-vendedor">
                        <label for="vendedor">Vendedor</label>
                    </div>
                
                    <div class="intereses">
                        <p class="fecha">Intereses</p>
                        <label><input type="checkbox" id="interes">Electro</label>
                        <label><input type="checkbox" id="interes" name="intereses">Moda</label>
                        <label><input type="checkbox" id="interes" name="intereses">Hogar</label>
                        <label><input type="checkbox" id="interes" name="intereses">Juguetería</label>                            
                        <label><input type="checkbox" id="interes" name="intereses">Vida Sana</label>
                    </div>
                    <div class="botones">
                        <input class="blue1" type="submit">
                        <input class="blue1" type="reset" value="Borrar">
                    </div>
                </form>
            </div>
        </section>
    </main>

    <footer>
        <div class="footer">

            <div>
                <i class="fas fa-credit-card"></i>
                <h2 class="titulos-footer">Pagá con tarjeta o en efectivo</h2>
                <p> Con Mercado Libre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro! </p>
            </div>

            <div>
                <i class="fas fa-gift"></i>
                <h2 class="titulos-footer">Envío gratis desde $ 2.500</h2>
                <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos. </p>
            </div>
            <div>
                <i class="fas fa-user-shield"></i>
                <h2 class="titulos-footer">Seguridad, de principio a fin</h2>
                <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@. </p>
            </div>
        </div>
        <div class="copyright">
            <h2>Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
        </div>
    </footer>
</body>

</html>